@use '../temas/variables' as v;

// Estilos generales
body {
    font-family: Arial, sans-serif;
    background-color: #FAF8F3;
    margin: 0;
    padding: 0;
}

// Estilos de los títulos y párrafos
h2 {
    text-align: center;
    color: v.$color-principal;
    font-family: v.$fuente-titulo;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

h3 {
    color: #D68C63;
    font-family: playfair display;
    font-size: 28px;
}

p {
    color: #7b7979;
    font-family: karla;
    line-height: 1.6;
}