// Estilos generales
body {
    font-family: Arial, sans-serif;
    background-color: #FAF8F3;
    margin: 0;
    padding: 0;
}

// Estilos de los títulos y párrafos
h2 {
    color: #D68C63;
    font-family: playfair display;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    color: #D68C63;
    font-family: playfair display;
    font-size: 28px;
}

p {
    color: #7b7979;
    font-family: karla;
    line-height: 1.6;
}