// Estilos contacto
.contacto-main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.titulo-contacto {
    font-size: 24px;
    margin-bottom: 10px;
}

.texto-contacto {
    font-size: 18px;
    margin-bottom: 20px;
}