@use '../temas/variables' as v;
@use '../temas/mixins' as m;

// ===================== INICIO =====================

// Contenedor del carrusel de imágenes
.carousel-container {
    width: 100vw;
    margin: auto;
    padding-bottom: 50px;
    overflow: hidden;
}


// Sección de llamado a la acción (CTA)
.call-to-action {
    text-align: center;
    margin: 50px 0;

    a {
        @include m.btn-style(v.$color-principal, v.$color-acento);
    }
}