$colores:(
    color-principal: #D68C63,
    color-secundario: #F6E6D6,
    color-fondo: #FAF8F3,
    color-texto: #7b7979,
    color-acento: #d59f83,
    color-destacado: #d9534f,
    color-verde: #8B9E7B,
)

