@use '../temas/variables' as v;


// Menu navegación
.navbar {
    background-color: v.$color-secundario;
    font-family: v.$fuente-secundaria;

    // Contenedor principal de la navegación
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // Logo de la marca
    .navbar-brand {
        img {
            width: 40px;
            height: 40px;
        }
    }

    // Botón de menú hamburguesa (versión móvil)
    .navbar-toggler {
        border: none;
        background: transparent;

        .navbar-toggler-icon {
            width: 25px;
            height: 25px;
        }
    }

    // Contenedor del menú colapsable
    .collapse {
        .navbar-nav {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 20px;

            .nav-item {

                // Enlaces de navegación
                .nav-link {
                    color: v.$color-texto;
                    font-weight: bold;

                    &:hover {
                        color: v.$color-principal;
                    }
                }
            }
        }
    }
}