// Sección hero
.hero {
    text-align: center;
    padding: 50px 20px;
}

.titulo {
    font-family: playfair display;
    font-size: 42px;
    color: #D68C63;
    font-weight: bold;
}

// Carrusel
.carousel-container {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

// Botón de llamada a la acción
.call-to-action {
    text-align: center;
    margin: 50px 0;
}