.btn-primary {
    background-color: #D68C63;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #d59f83;
    cursor: pointer;
}