@use '../temas/variables' as v;

// ===================== FAQ =====================

.faq-main {
    width: 80%;
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
    animation: fadeInCustom 1s ease forwards;

    // Título principal de la sección FAQ
    .faq-title {
        margin-bottom: 30px;
        font-family: v.$fuente-titulo;
        color: v.$color-principal;
    }

    // Contenedor de todas las preguntas
    .faq-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        // Cada pregunta individual
        .faq-item {
            width: 80%;
            text-align: center;
            padding-bottom: 15px;
            background: white;
            border-radius: v.$radioborde;
            box-shadow: v.$sombra-suave;
            padding: 20px;

            h3 {
                margin-bottom: 5px;
                color: v.$color-principal;
                font-family: v.$fuente-titulo;
                font-size: 24px;
            }

            p {
                color: v.$color-texto;
                font-family: v.$fuente-base;
                line-height: 1.6;
            }

            a {
                color: v.$color-principal;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

