@use '../temas/variables' as v;

// ===================== FORMULARIO =====================

.contacto-main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    // Título principal de contacto
    .titulo-contacto {
        font-size: 24px;
        margin-bottom: 10px;
        font-family: v.$fuente-titulo;
        color: v.$color-principal;
    }

    // Texto introductorio
    .texto-contacto {
        font-size: 18px;
        margin-bottom: 20px;
        font-family: v.$fuente-base;
        color: v.$color-texto;
    }

    // Contenedor del formulario
    .contacto {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: v.$radioborde;
        box-shadow: v.$sombra-suave;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                font-weight: bold;
                text-align: left;
                font-family: v.$fuente-base;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-family: v.$fuente-base;
            }

            button {
                background-color: v.$color-principal;
                border: none;
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 5px;
                font-weight: bold;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: v.$color-acento;
                }
            }
        }
    }
}